vrrp_script check_apiserver {
  script "/usr/bin/curl -sk --max-time 3 https://127.0.0.1:6443/healthz | grep -q ok"
  interval 3
  timeout 5
  fall 2
  rise 2
  weight -20
}

vrrp_instance VI_1 {
  state {{ 'MASTER' if inventory_hostname == groups['master_primary'][0] else 'BACKUP' }}
  interface {{ ansible_default_ipv4.interface }}
  virtual_router_id 51
  priority {{ 100 - (groups['masters'].index(inventory_hostname) * 10) }}
  advert_int 1
  garp_master_delay 1
  garp_master_repeat 5
  garp_master_refresh 30
  garp_master_refresh_repeat 2
  authentication {
    auth_type PASS
    auth_pass k8s-ha
  }
  virtual_ipaddress {
    {{ control_plane_vip }}
  }
  track_script {
    check_apiserver
  }
}
